name: "Deploy"
on:
  workflow_call:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false
permissions:
  contents: write
  packages: write
env:
  REGISTRY_IMAGE: ghcr.io/roguelazer/envoy-homebridge-dummy
jobs:
  generate-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Generate Version
        id: version
        run: |
          echo "version=tip-$(date +%Y%m%d.%H%M%S).${GITHUB_SHA:0:4}" >> "$GITHUB_OUTPUT"
  build-images:
    runs-on: ubuntu-latest
    needs: [generate-version]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Prepare
        run: |
          platform="${{ env.platform }}"
          echo "PLATFORM_PAIR=${platform//\//-}" >> "$GITHUB_ENV"
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
      - name: Login to Packages Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - name: Build container
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: Dockerfile
          push: true
          pull: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ env.REGISTRY_IMAGE }}:main
            ${{ env.REGISTRY_IMAGE }}:latest
            ${{ env.REGISTRY_IMAGE }}:${{ needs.generate-version.outputs.version }}
      - name: Create tag
        id: create-tag
        run: |
          git tag ${{ needs.generate-version.outputs.version }} ${{ github.sha }}
      - name: Push Tag
        run: git push origin tag ${{ needs.generate-version.outputs.version }}
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          target_commitish: ${{ github.sha }}
          tag_name: ${{ needs.generate-version.outputs.version }}
          generate_release_notes: true
          make_latest: true
      - name: send push
        run: |
          curl -f \
          -d token=${{ secrets.PUSHOVER_TOKEN }} \
          -d user=${{ secrets.PUSHOVER_USER }} \
          -d priority=0 \
          -d message="${{github.repository}} ${{ github.ref_name }} deployed" \
          -d ttl=86400 \
          -d sound=bike \
          https://api.pushover.net/1/messages.json
